 
django
python-decouple
requests
openai
# --- API & Auth Toolkit ---
djangorestframework
dj-rest-auth
djangorestframework-simplejwt
django-allauth
django-cors-headers
pandas
openpyxl
langchain
langchain-openai
python-dotenv
pydantic
langchain-google-genai
# --- DITA RAG Chatbot ---
chromadb
lxml