@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-mint-100: oklch(0.61 0.11 178 / 10.77%);
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mint-600: oklch(0.61 0.11 178);
}

.audio__wrapper > div {
  @apply shadow-sm bg-white
}